<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.wanderlust">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.AcitivitySplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActivityRegisterPhoneNumber"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="wanderlust.com"
                    android:pathPrefix="/message"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActivityVerifyPhoneNumber"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.ActivitySetProfileData" />
        <activity
            android:name=".Activities.ActivityExtra"
            android:label="Invites" />
        <activity
            android:name=".Activities.ActivityCreateJourney"
            android:label="Create Journey" />
        <activity
            android:name=".Activities.ActivityShowJourney"
            android:label="Show Journey" />
        <activity android:name=".Activities.ActivityUserDetails" />
        <activity
            android:name=".Activities.ActivityHome"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".Activities.ActivityVoice"
            android:label="Voice Commands" />
        <activity
            android:name=".Sensors.CompassActivity"
            android:label="Compass" />
        <activity
            android:name=".Sensors.StepCountActivity"
            android:label="Pedometer" />

        <activity android:name=".Activities.ActivitySelectLocation"
            android:label="Select Location"/>


        <!-- FCM -->
        <service
            android:name=".Others.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Others.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!--  -->


        <!-- APP INDEXING -->
        <!-- Register the BroadcastReceiver -->
        <receiver
            android:name=".Others.AppIndexingUpdateReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX" />
            </intent-filter>
        </receiver>

        <!-- Grant the AppIndexingUpdateService permission and enable it to run after being triggered -->
        <service
            android:name=".Others.AppIndexingUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- The API key for Google Maps-based APIs is defined as a string resource. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1g67h6Q8Hf67BCJvm_yVhZbTBXv6BEvo" />

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>